.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-first {
  & h2 {
    font-size: 1.75rem;
    font-weight: 100;
  }

  & span {
    font-size: 3.5rem;
  }
}

.box {
  background-color: $color-box-transparent;
  padding: 2rem;
  border-radius: 15px;
  display: grid;
  margin-bottom: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;

  & span {
    color: #bbbbbb;
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 2rem;
    margin-left: auto;
  }

  &__timings {
    margin-left: auto;

    & button {
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      font-weight: 500;
      border-radius: 2px;
      cursor: pointer;
    }
  }

  & .box--local {
    background-color: red;
    padding: 3px 7px;
  }
  & .box--track {
    background-color: white;
    color: black;
    padding: 3px 7px;
  }
}

.box--schedule {
  font-size: 1.75rem;
  color: $color-third-text;
}

.box-nogrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(../img/max-verstappen.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 0px right -65px;
}
