.box-nogrid {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;

  gap: 2rem;

  background-position: bottom 0px right -65px;
}

.past-winners-box-1 {
  display: flex;
  align-items: center;
  gap: 2rem;

  & span:not(:last-child) {
    font-size: 1.75rem;
  }

  & span:last-child {
    color: #aaaaaa;
    font-size: 1.25rem;
  }
}

.car-image {
  position: absolute;
  bottom: 0px;
}
